{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'home/style.css' %}">
    

    <title>Accordion</title>
</head>
<body>
    <div class="accordion">
        <div class="card">
            <div class="card-header">
                <h1>Aktivitas<span class="spana"><button onclick="naik(event, this);">up</button></span><span class="spanb"><button onclick="turun(event, this);">down</button></span></h1>
            </div>
            <div class="card-body">
                <p>Aktivitas saya sehari-hari adalah berkuliah di Fakultas Ilmu Komputer Universitas Indonesia. Selain berkuliah,
                    saya juga rutin berolahraga walau di saat pandemi seperti ini. Karena menurut saya, kejenuhan saat berkuliah dari rumah
                    dapat sejenak terobati saat sedang sibuk berolahtaga.
                </p>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <h1>Hobi<span class="spana"><button onclick="naik(event, this);">up</button></span><span class="spanb"><button onclick="turun(event, this);">down</button></span></h1>
            </div>
            <div class="card-body">
                <p>Hobi utama saya adalah bermain Bola. Karena sepak bola lah yang menemani perjalanan hidup saya. Mulai dari bermain, menonton,
                    sampai bermain game yang berhubungan dengan sepak bola selalu saya lakukan dengan rutin. Selain membuat tubuh menjadi sehat,
                    bermain bola bagi saya adalah salah satu bentuk <i>refreshing</i> paling tepat.
                </p>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <h1>Pengalaman<span class="spana"><button onclick="naik(event, this);">up</button></span><span class="spanb"><button onclick="turun(event, this);">down</button></span></h1>
            </div>
            <div class="card-body">
                <p>Pengalaman saya dalam organisasi dan panitia adalah menjadi staff Departemen Olahraga BEM Fasilkom UI, staff Futsal Runner PERAK 2020,
                    dan staff COMPEST 12.
                </p>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <h1>Prestasi<span class="spana"><button onclick="naik(event, this);">up</button></span><span class="spanb"><button onclick="turun(event, this);">down</button></span></h1>
            </div>
            <div class="card-body">
                <p>Prestasi saya cenderung lebih banyak di bidang futsal dan sepak bola. Untuk akademis, saya pernah menjadi siswa terbaik dalam mata pelajaran 
                Komputer saat masih SD.
                </p>
            </div>
        </div>
    </div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="{% static 'home/style.js' %}">
</script>
</html>