body {
    margin : 0;
    font-family: sans-serif;
}

* {
    box-sizing: border-box;
}

.accordion {
    max-width: 600px;
    display: block;
    margin: 100px auto;
}

.accordion .card {
    margin-bottom: 20px;
    box-shadow: 0px 0px 20px #d4d4d4;
    border-radius: 20px;
}

.accordion .card .card-header h1{
    cursor: pointer;
    color: white;
    position: relative;
    background-color: #2f2f2f;
    margin: 0;
    padding: 20px;
    border-radius: 20px;
}

button {}

.accordion .card .card-header .spana h1 {
    right: 20px;
    position: absolute;
    border-radius: 50%;
    text-align: center;
    line-height: 25px;
    font-size: 16px;
    top:15px;
    height: 25px;
    width: 25px;

}

.accordion .card .card-header .spanb h1 {
    right: 40px;
    position: absolute;
    border-radius: 50%;
    text-align: center;
    line-height: 25px;
    font-size: 16px;
    top:15px;
    height: 25px;
    width: 25px;
}

.accordion .card .card-body p{
    padding: 20px;
    font-size: 15px;
    line-height: 24px;
    color: #2f2f2f;
    margin: 0px;   
}

.accordion .card .card-body {
    padding: 20px;
}

.accordion .card .card-body {
    display: none;
}